@{
    ViewData["Title"] = "Product details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model Productmodel;
}

<div class="container-fluid col-md">
    <h2>@Model.Productnaam</h2>
    <div class="row">
        <div class="col-xs-4">
            @*<img src="@String.Format("data:image/gif;base64,{0}", @Model.ProductImg)" style="max-width:100%;" />*@
        </div>
        <div class="col-xs-4">
            <h4>Current price:</h4>
            <h4><b>@Model.Productprijs</b></h4>


            <h4>Description:</h4>
            <h4><b>@Model.Productbeschrijving</b></h4>
        </div>
    </div>

    <div class="col-md-3 col-md-offset-1" style="margin-top:40px;">
        <button type="button" class="btn btn-primary btn-lg btn-block" id="addButton" style="background-color:black"><i class="fa fa-plus"></i>  Add To Cart</button>
    </div>
</div>

@section scripts
    {
    <script>
    $('#addButton').click(function () {
        var x = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));

            $.ajax({
                type: 'POST',
                url: '@Url.Action("Add", "Cart")',
                contentType: 'application/json',
                dataType: 'JSON',
                data: JSON.stringify(x),
                success: function (data) {
                    $("#shoppingCart span:nth-child(2)").text(`${data}`);
                }
            });
        });
    </script>
}